.App {
  grid-column: 2/-1;
  padding: 2rem;
  margin: 5rem auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form-box button {
  margin: 7px;
}

div.control-box {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 30px auto;
  font: inherit;
  text-transform: capitalize;
}
div.control-box input,
div.control-box select {
  outline: none;
  border: none;
  box-shadow: 0 1.2px 2.4px rgba(0, 0, 0, 0.6);
  padding: 7px 14px;
  background-color: var(--theme-color-primary-normal);
  color: var(--theme-backgroundp-ultralight);
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  margin-inline-start: 4px;
}

div.control-box select:hover {
  background-color: var(--theme-color-primary-light);
  color: var(--theme-color-dark);
  box-shadow: 0 2.4px 4.8px rgba(0, 0, 0, 0.8);
}

.form-box {
  display: flex;
  justify-content: flex-end;
}

.report {
  background-color: var(--theme-color-dark);
}

.report:hover {
  background-color: var(--theme-backgroundp-accent-normal);
  border-color: var(--theme-backgroundp-accent-normal);
}
