.form-box {
  width: 35rem;
  padding: 2rem;
  background-color: var(--theme-backgroundp-light);
  border-radius: 10px;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1.2px 2.4px rgba(0, 0, 0, 0.6);
}

.input-row {
  width: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.input-row:nth-child(2) {
  margin-bottom: 3rem;
}

.input-row label {
  color: var(--theme-color-dark);
}

.input-row input {
  outline: none;
  width: 100%;
  border: transparent;
  border-radius: 10px;
  padding: 0.6rem 1rem;
  transition: outline 0.1s ease;
  color: #444;
}

.input-row input:focus,
.input-row input:focus-visible {
  outline: 3px solid var(--theme-color-primary-normal);
}
